*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    display: grid;
    place-items: center;
}

h1 {
    margin: 1rem;
}

img {
    width: 26rem;
    height: 16rem;
}

ul, li {
    padding: .5rem;
}